body {
  font-family: "Comic Neue", sans-serif;
}

input {
  width: 100%;
  margin: 5px;
}

textarea {
  width: 100%;
  resize: none;
  font-family: "Comic Neue", sans-serif;
  font-weight: bold;
  border: solid 2px;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.justify-center-content {
  justify-content: center;
}

button.submitentry {
  text-align: right;
  background-color: white;
  font-weight: bold;
}

.align-right {
  flex-direction: row;
  justify-content: flex-end;
}

.submitcontainer {
  margin: 10px 0;
}

.selectcontainer {
  width: 80%;
  margin: 10px auto;
}

textarea::placeholder {
  font-weight: 900;
  color: black;
}
