body {
  font-family: "Comic Neue", sans-serif;
}

#text {
  display: block;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.justify-center-content {
  justify-content: center;
}

.submitcontainer {
  display: flex;
  justify-content: end;
}
